.fietsen-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 275px;
    min-height: 324px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 12px;
}

.fietsen-card-header {
    width: 100%;
    min-height: 175px;
}

.fietsen-card-header img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.fietsen-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 30px;
}

.fietsen-card-title p {
    font-size: 20px;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.fietsen-card-footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.fietsen-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-wrapper {
    margin-bottom: 10px;

    .filter-title {
        text-align: center;
    }

    .filter-option {
        select {
            width: 100%;
        }
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}