.page-title h2 {
    text-align: center;
}

.review-body  {
   border: 1px solid black;
   padding: 10px;
   max-width: 400px;
   width: 100%;
   margin: 10px;
}

.review-body button {
    margin-bottom: 10px;
}

.review-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}