body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.page-wrapper {
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 15px 0 0 0;
}

.inputRow {
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}