.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh
}

.page-content-wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    min-height: 90vh
}

.input-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0;
}

@import "scss/includes/nav";
@import "scss/beheerPaginas/beheerDashboard";
@import "scss/beheerPaginas/beheerFietsen";
@import "scss/login_register/login";
@import "scss/login_register/register";
@import "scss/review/review";
@import "scss/beheerPaginas/beheerFietsenDetailEdit";
@import "scss/indexscss/index";
@import "scss/indexscss/fietsen";
@import "scss/indexscss/fietsdetail";
@import "scss/winkelwagen/winkelwagen";
@import "scss/beheerPaginas/beheerReview";
@import "scss/beheerPaginas/beheerReviewSuccess";
