.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 90vh;
}

.page-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  width: 100%;
  min-height: 90vh;
}

.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

nav {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 8px;
}

.navbar-brand {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.beheer-card-wrapper {
  width: 100%;
  max-width: 275px;
  min-height: 275px;
  margin: 12px;
}

.beheer-card-wrapper p {
  margin-top: 8px;
  text-align: center;
}

.beheer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 275px;
  min-height: 275px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  background-color: #F3F3F3;
  border-radius: 5px;
  background-color: #F3F3F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.beheer-card:hover {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.beheer-card i {
  font-size: 65px;
}

.beheer-fietsen-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  max-width: 275px;
  min-height: 324px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 12px;
}

.beheer-fietsen-card-header {
  width: 100%;
  min-height: 175px;
}

.beheer-fietsen-card-header img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.beheer-fietsen-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 30px;
}

.beheer-fietsen-card-title p {
  font-size: 20px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.beheer-fietsen-card-footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-wrapper a {
  width: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-wrapper a:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.add-fietsen-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 275px;
  height: 324px;
  margin: 12px;
  border-radius: 5px;
  border: 1px solid black;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  background-color: lightgray;
}

.add-fietsen-card:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.add-fietsen-card i {
  font-size: 100px;
}

.fiets-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.inlog {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 50px;
}

.inlog-btn {
  width: 150px;
  height: 50px;
}

.register {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 50px;
}

.register-btn {
  width: 150px;
  height: 50px;
}

.review-container {
  background-color: #28282B;
  width: 600px;
  border-radius: 5px;
}

.title {
  width: 500px;
  margin: 10px auto;
  margin-top: 30px;
}

.description {
  width: 500px;
  height: 300px;
  margin: 10px auto;
}

.review-btn {
  margin-bottom: 30px;
  border: 1px solid white;
}

.fiets-edit-page-title h1 {
  text-align: center;
}

.fiets-edit-page-title {
  margin-bottom: 25px;
}

.fietsen-edit-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fietsen-edit-content-wrapper img {
  width: 100%;
  height: 100%;
}

.edit-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 322px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-content {
  height: auto;
  width: 450px;
  height: auto;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.017em;
  color: #000000;
  padding-top: 20px;
}

.photo-content {
  width: 450px;
  height: auto;
  padding-left: 10%;
  padding-top: 20px;
}

.index-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-index {
  line-height: 6px;
}

.companyphoto {
  margin-bottom: 8px;
  width: 360px;
  height: 260px;
}

@media screen and (max-width: 930px) {
  .index-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }
  .text-content {
    width: 100%;
    max-width: 450px;
  }
  .photo-content {
    width: 100%;
    max-width: 450px;
    margin: 25px 0 0 0;
    padding: 0;
  }
  .photo-content img {
    width: 100%;
    height: 100%;
  }
}

.fietsen-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  max-width: 275px;
  min-height: 324px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 12px;
}

.fietsen-card-header {
  width: 100%;
  min-height: 175px;
}

.fietsen-card-header img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fietsen-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 30px;
}

.fietsen-card-title p {
  font-size: 20px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.fietsen-card-footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.detailimage {
  background-color: black;
  width: 500px;
}

.detailimagesrc {
  width: 100%;
  height: 100%;
}

.detailbike {
  margin-left: 10%;
  margin-top: 10px;
}

.detailsbikepage {
  margin-top: 20px;
}

.bikedetails {
  margin-top: 20px;
  width: 63%;
}

.table-dark {
  width: 80vw;
}

.pay {
  border: 1px solid white;
}

.page-title h2 {
  text-align: center;
}

.review-body {
  border: 1px solid black;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: 10px;
}

.review-body button {
  margin-bottom: 10px;
}

.review-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swall-wrapper {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
