.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh
}

.page-content-wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    min-height: 90vh
}

@import "scss/includes/nav";
@import "scss/beheerPaginas/beheerDashboard";
@import "scss/beheerPaginas/beheerFietsen";
@import "scss/login_register/login";
@import "scss/login_register/register";
@import "scss/review/review";